<div class="container">
  <div class="row">
    <div class="col-12">


      <button>
        <div class="btn btn-primary mt-2 mb-2" (click)="onlyOdd = !onlyOdd">   
          Mostrar apenas impares
        </div>
      </button>

      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item"
          *ngFor="let number of oddNumbers;"
          [ngClass]="{ odd: number % 2 !== 0 }"
          [ngStyle]="{ backgroundColor: number % 2 !== 0 ? 'lightcoral' : 'lightblue' }">
          {{ number}}
          </li>
        </div>

        <!-- <div *ngIf="!onlyOdd">
          <li class="list-group-item"
          *ngFor="let number of evenNumbers;"
          [ngClass]="{ even: number % 2 === 0 }"
          [ngStyle]="{ backgroundColor: number % 2 !== 0 ? 'lightcoral' : 'lightblue' }">
          {{ number }}
          </li>
        </div>
        
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li class="list-group-item"
            *ngFor="let number of evenNumbers;"
            [ngClass]="{ even: number % 2 === 0 }"
            [ngStyle]="{ backgroundColor: number % 2 !== 0 ? 'lightcoral' : 'lightblue' }">
            {{ number }}
            </li>
          </div>
        </ng-template> -->
        
        <div *appUnless="onlyOdd">
          <li class="list-group-item"
          *ngFor="let number of evenNumbers;"
          [ngClass]="{ even: number % 2 === 0 }"
          [ngStyle]="{ backgroundColor: number % 2 !== 0 ? 'lightcoral' : 'lightblue' }">
          {{ number }}
          </li>
        </div>
      </ul>

      <p appDangerHighlight>Me estilize com o dangerHighlight para ficar com o background vermelho</p>
      <p appWarningHighlight [defaultColor]="'blue'" [highlightColor]="'green'" >Me estilize com o WarningHighlight para ficar com o background laranja</p>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="10">O valor é 10</p>
        <p *ngSwitchCase="50">O valor é 50</p>
        <p *ngSwitchCase="100">O valor é 100</p>
        <p *ngSwitchDefault="">Qualquer outro valor</p>
      </div>

    </div>
  </div>
</div>