<div class="row">
    <div class="col-12 col-sm-4">
        <div class="list-group">
            <a  [routerLink]="['/produtos', product.id]"
                [queryParams]="{permiteEditar: product.id === 1 ? '1' : '0'}"
                fragment="carregando"
                class="list-group-item"
                *ngFor="let product of products">
                {{ product.name }}
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-4">
        <router-outlet></router-outlet>
        
        <!-- <app-edit-product></app-edit-product>
        <hr> -->
        <!-- <app-product></app-product> -->
    </div>
</div>