<!-- New Student -->
<div class="row">
    <div class="col-12">
      <h1>Cadastro de Alunos</h1>
      <hr>
      <label for="">Nome do Aluno</label>
      <input type="text" class="form-control mb-2" #stundentNameInput>
      <label for="">Observacao</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newStudentDescription"> -->
      <input type="text" class="form-control" #studentDescriptionInput>
      <br>
      <button class="btn btn-success mr-2" (click)="addApproved(stundentNameInput)">Adicionar Aprovado</button>
      <button class="btn btn-secondary" (click)="addSubstitute(stundentNameInput)">Adicionar Suplente</button>
    </div>
  </div>